@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body, ul {
    margin: 0;
    padding: 0;
    font-family: "Lato", Arial, serif;
}


header {
    box-shadow: 0 3px 8px -4px darkgray;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    list-style: none;
    align-items: center;

}

.nav-item {
    margin-left: 55px;
    font-weight: bold;

}

.nav-item img {
    margin-left: 35px;
}

.logo-container img {
    display: inline-block;
    vertical-align: middle;
    margin: 0 7px;
}

.nav-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #565656;
}

.nav-link:hover {
    color: #FF9100;
    cursor: pointer;
}

.btn {
    background-color: #FF9100;
    color: white;
    border-radius: 24px;
    padding: 10px 20px;
    border: none;
    text-transform: uppercase;
    box-shadow: 0 3px 8px -4px darkgray;
}

.login-btn {
    margin-left: 10px;
}

.intro {
    background-color: #FF9100;
    color: white;
    text-align: center;
    margin-top: 2px;
    padding: 35px 300px;

}

.intro h1 {
    font-size: 40px;
}

.filters {
    background-color: #F8F8F8;
    display: flex;
    justify-content: space-between;
    padding: 20px 45px;
    align-items: center;
}

.filters-title {
    font-size: 20px;
}

.filters label * {
    display: inline-block;
    vertical-align: middle;
}

.filters label input {
    border: 1px solid #FF9100;
    border-radius: 4px;
    height: 34px;
    background-color: transparent;
    margin-left: 10px;
}

.filters label {
    position: relative;
}

.filters label::after {
    content: "";
    display: block;
    clear: both;
    background-image: url("./Images/dropDown.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.question-mark-icon {
    position: absolute;
    top: 8px;
    right: -25px;
}

.trainings {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
}

.training {
    margin: 20px;
    box-shadow: 0 2px 4px 0 #00000024;
    border-radius: 10px;
    max-width: 400px;
}

.training header {
    position: relative;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.training header h3 {
    text-align: center;
    padding: 50px 20px 30px 30px;
    font-size: 24px;
    font-family: Montserrat, Arial, serif;
}

.training header span {
    background: #676781;
    text-transform: uppercase;
    border-radius: 8px;
    color: white;
    padding: 8px 12px;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 12px;
}

.training:nth-child(1) header, .training:nth-child(3) header {
    background: #44A9F8;
    color: white;
}

.training:nth-child(3) header span {
    background: #9a5dc6;
}

.training-content {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;

}

.training-content-info {
    display: flex;
    vertical-items: center;
    margin: 8px;
    font-weight: 500;
    font-size: 18px;
}

.training:nth-child(2) header {
    background: #41bead;
    color: white;
}

.training-content::after {
    content: '';
    display: block;
    width: 100%;
    margin: 10px auto;
    height: 1px;
    background: #e0e0e0;
}

.training footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.training-price {
    font-size: 24px;
    color: red;
    font-weight: 600;
    font-family: Montserrat, serif;
}

.training-cta .btn {
    font-weight: bold;
    padding-left: 18px;
    padding-right: 18px;
}

.dots-line-container {
    padding: 0 40px;
}

.programs {
    margin: 40px auto;

}

.programs-content {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 50px;
}

.program-content .btn, .hardware-content .btn {
    font-weight: 600;
}

.program-content p, .hardware-content p {
    padding-bottom: 20px;
}

.programs header {
    display: block;
    box-shadow: none;
    margin: 40px auto;
    text-align: center;
}

.programs header h2 {
    color: #41bead;
    font-size: 36px;
    font-family: Montserrat, serif;
    text-align: center;
}

.programs header p {
    color: black;
    font-size: 16px;
}

.program-software {
    border-radius: 10px;
    background: #e3f3fd;
    border: 3px solid #44a9f8;
    padding-bottom: 50px;
}

.program-header {
    display: inline-block;
    align-items: center;
    box-shadow: none;
}

.program-software h4 {
    display: inline-block;
    color: #44a9f8;
    font-size: 32px;

}

.program-hardware {
    border-radius: 10px;
    background: #dff4f1;
    border: 3px solid #44a9f8;
    padding-bottom: 50px;
}

.program-hardware h4 {
    display: inline-block;
    color: #00af9b;
    font-size: 32px;
}


